
*{

    margin: 0px;
    padding:0px;
}
.container{

    height:600px;
    width:100%;
    background-color:blue;
}
.booking_Deatail{

    width:50%;
    background-color:rgb(99, 21, 73);
    height:600px;
}
.booking_p1{

    color: white;
    font-size:25px;
    position: relative;
    left:17%;
    top:12%;
    letter-spacing:0.1rem;
}
.booking_h1{
    color: white;
    font-size: 4rem;
    position: relative;
    top:15%;
    left:15.6%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0.1rem;
}
.booking_description{

    color:white;
}
